@font-face {
	font-family: 'Mont';
	src:
    url('./../fonts/Mont-HeavyDEMO.otf') format('opentype'),
}
:root{
    background-color: #000;
}
*
{	box-sizing:border-box;
	margin:0px;
}
html{
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    height: 100svh;
    min-height: 400px; /*TEMPORAIRE*/
}
a{
	text-decoration: none;
    font-family: "Questrial", sans-serif;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
h2,p,a{
    color: #FFF;
}
h2{
    font-family: 'Mont';
    font-size: 100px;
    /* font-size: 6.25rem; */
}
P{
    font-family: "Questrial", sans-serif;
    font-weight: 500;
    hyphens: auto; 
}
body{
    position: relative;
}


/* Mise en forme de la barre de navigation */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: whitesmoke #000;
  }
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: #000;
}
  
*::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 20px;
    border: 3px solid #000
}


/* Mise en forme du HEADER*/
header{
    display: inline-flex;
    padding: 25px 100px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
}

/* Mise en forme du menu burger*/
#btn_nav{
    display: flex;
}
#btn_nav > img{
    height: 35px;
}
/* Mise en forme de menu de navigation */
#menu_nav{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .60);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
}
#menu_nav > div{
    display: none;
    position: fixed;
    background-color: #1b1b1b;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    width: 30%;
    min-width: 400px;
    flex-direction: column;
}
#menu_nav nav{   
    padding-top: 80px;
}
#menu_nav ul{   
    list-style: none;
}
#menu_nav li > a{
    font-family: "Mont", sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
}
#menu_nav li:nth-child(1) > a:hover,#menu_nav li:nth-child(2) > a:hover,#menu_nav li:nth-child(3) > a:hover{
    text-decoration: underline;
}
#menu_nav .leave_btn{
    color: #FFF;
    font-size: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Mise en forme du call to action pour recherche de stage */
header > a:first-child{
    display: inline-flex; 
    align-items: center; 
    width: 717.333px;
    height: 53px;
}
header > a:first-child > div{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header > a:first-child > div > p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header > a:first-child > div > p:hover{
    text-decoration: underline;
}
header > a:first-child > div > p > strong{   
    font-weight: 700;
}
header > a:first-child > img{   
    width: 25.667px;
    height: 36px;
    transition: 1s;
}


/* Mise en forme de la page d'accueil */

#home{
    position: relative;
}

#home > #signature{
    position: absolute;
    top: 20%;
    left: 5%;
}
#home > #signature > img{
    /* width: 1000px; */
    width: 80%;
    position: absolute;
    top: 80px;
    left: 102px;
}
#home > #signature > video{
    /* width: 1300px; */
    width: 100%;
}
#fond_mobile{
    display: none;
}

@media screen and (max-width: 960px), (max-height: 480px){
    #home > #signature > img{
        width: 500px;
    }
    #home > #signature > video{
        width: 800px;
    }
}
@media screen and (max-width: 860px){
    #home > #signature > img{
        width: 400px;
    }
    #home > #signature > video{
        width: 700px;
    }
}
@media screen and (max-width: 750px){
    #home > #signature > img{
        width: 380px;
    }
    #home > #signature > video{
        width: 600px;
    }
}


#call_to_action_scroll{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 0px;
    right: 0px;
    animation: scroll 1.5s 8 alternate-reverse 5s;
    animation-timing-function: ease-in-out;
}
#call_to_action_scroll > img{
    width: 48px;
    height: 33px;
}
@keyframes scroll {
    0%{
        top: 85%;
    }
    100%{
        top: 90%
    }
}


/* Mise en forme de la partie à propos */
#a_propos{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1.5fr 1fr;
    padding: 0% 5%;
}

#bio{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    height: 100svh;
    padding-top: 10%;
}
#bio > h2{
    padding-bottom: 40px;
}
#bio > p{
    font-size: clamp(1rem, 1.875rem, 1.875rem);
    padding-right: 50px;
    padding-bottom: 40px;
}
#bio > p > strong{
    font-weight: 700;
}

#pdp{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pdp > img{
    width: 100%;
}

#cv_btn{
    text-align: center;
}
#cv_btn > a{
    display: inline-flex;
    padding: 7px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #FFF;
    font-family: 'Mont';
    font-size: 30px;
    font-weight: 700;
    width: max-content;
}
@keyframes stage {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.17;
    }
}
#stage2{
    display: none;
}

/* Mise en page de la partie MES RÉALISATIONS */
#realisations{
    height: auto;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#realisations > h2, #contact > h2{
    position: absolute;
    left: 5%;
    padding-top: 20px;
}

/* Gestion de la grille */
.grid{
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 250px);
    grid-auto-flow: row;
    grid-auto-rows: 250px;
    padding: 35px 35px;
    padding-top: 180px;
}

/* Gestion des cases */
.card{
    border: thick double #9ca3af;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
/* Gestion du survol*/
.card > p, .card > div{
    display: none;
}
.card > p{
    font-size: 30px;
    font-weight: bold;
}
.card > div{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
/* Gestion du survol (grosses cases)*/
/* .card:nth-child(1) > p,.card:nth-child(4) > p{
    font-size: 60px;
} */
#retrok7 > div,#reportageSCCUC > div{
    font-size: 30px;
    padding: 15px;
}

/* Groses cases */
#retrok7{
    grid-column: 1 / span 2;
    grid-row: span 2;
}
#reportageSCCUC{
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

#retrok7:hover > div, #reportageSCCUC:hover > div, #videoCV:hover > div, #courtmetrageS1:hover > div, #pub_cineambulant:hover > div{
    display: block;
}
/* Projet 1 - Rétrok7 */
#retrok7{
    background-image: url(./../img/cadre_real/retrok7.png);
}
#retrok7:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(20, 20, 20)), url(./../img/cadre_real/retrok7.png);
}

/* Projet 2 - Reportage SCCUC */
#reportageSCCUC{
    background-image: url(./../img/cadre_real/reportageSCCUC.png);
}
#reportageSCCUC:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(20, 20, 20)), url(./../img/cadre_real/reportageSCCUC.png);
}

/* Projet 4 - VideoCV */
#videoCV{
    background-image: url(./../img/cadre_real/videoCV.png);
}
#videoCV:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(20, 20, 20)), url(./../img/cadre_real/videoCV.png);
}

/* Projet 5 - Pub Ciné Ambulant */
#pub_cineambulant{
    background-image: url(./../img/cadre_real/pub_cineambulant.png);
}
#pub_cineambulant:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(20, 20, 20)), url(./../img/cadre_real/pub_cineambulant.png);
}

/* Projet 6 - Court métrage S1 */
#courtmetrageS1{
    background-image: url(./../img/cadre_real/courtmetrageS1.png);
}
#courtmetrageS1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(20, 20, 20)), url(./../img/cadre_real/courtmetrageS1.png);
}

/* Projet suivant - ... */
#etc{
    background-image: url(./../img/cadre_real/etc.png);
    border: none;
    cursor:default;
    background-size: cover;
    background-position: start;
}

/* Détails */
#infos{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .60);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
#infos > div{
    display: flex;
    flex-direction: column;
    width:80vw;
    height: auto;
    background-color: #1A1C19;
    padding: 20px 50px;
    position: relative;
}
#infos .leave_btn{
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}
#infos h3{
    font-family: 'Mont';
    font-size: 70px;
    color: #F2B33D;
}
#infos > div > div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#details{
    padding-top: 20px;
    font-size: clamp(1rem, 1.563rem, 1.563rem);
    /* overflow-y: scroll; */
    hyphens: none;
}
#details a{
    text-decoration: underline;
}
#apercu{
    display: flex;
    align-items: center;
    justify-content: center;
}
#apercu img,#apercu video{
    width: 40vw;
}
#infos > div > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 20px 0px;
    height: 100%;
}
#lien_proj{
    display: inline-flex;
    padding: 7px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #FFF;
    font-family: 'Mont';
    font-size: 20px;
    font-weight: 700;
    height: max-content;
    width: max-content;
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    #infos > div > div:nth-child(2){
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 20px;
    }
    #apercu img{
        height: 30vh;
        width: auto;
    }
}

/* Mise en forme de la partie contact */
#contact{
    height: auto;
    position: relative;
}

/* Mise en forme du h2 = h2 de la partie realisation */

#contact > div:nth-child(2), #resaux{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact > div:nth-child(2){
    gap: 60px;
    padding-top: 200px;

}
#contact > div:nth-child(2) > p, #contact > div:nth-child(2) > a{
    font-size: 30px;
    font-weight: 600;
}

#resaux{
    gap: 30px;
    font-size: 50px;
    padding-top: 50px;
}

#contact > a{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
}

/* Mise en page du footer */
footer{
    display:flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    position: relative;
}
footer > div{
    position: absolute;
    top: 0px;
}
footer > p > a{  
    text-decoration: underline;
}




/* !!! RESPONSIVE !!! */

@media screen and (max-width: 1500px){
    #menu_nav li > a {
        font-size: 50px;
    }
    #bio > p {
        font-size: clamp(1rem, 1.600rem, 1.875rem);
    }
    #details {
        font-size: clamp(1rem, 1.25rem, 1.563rem);
    }
    #bio{
        justify-content: center;
    }
}
@media screen and (max-width: 1360px){
    h2{
        font-size: 80px;        
    }
}
@media screen and (max-width: 1310px){
    #menu_nav li > a {
        font-size: 40px;
    }
    #bio > p {
        font-size: clamp(1rem, 1.500rem, 1.875rem);
    }
    #infos h3{
        font-size: 60px;        
    }
}
@media screen and (max-width: 1250px){
    #bio > p {
        font-size: clamp(1rem, 1.400rem, 1.875rem);
    }
}
@media screen and (max-width: 1195px){
    #bio > p {
        font-size: clamp(1rem, 1.200rem, 1.875rem);
    }
    .grid {
        grid-gap: 25px;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(2, 200px);
        grid-auto-rows: 200px;
    }
    .card > div{
        font-size: 15px;
        padding: 10px;
    }
    #infos h3{
        font-size: 40px;        
    }
    header > a:first-child > div > p {
        font-size: 22px;
    }
}
@media screen and (max-width: 1100px){
    h2{
        font-size: 60px;        
    }
    header{
        padding: 25px 50px;
    }
}
@media screen and (max-width: 1000px){
    .grid {
        grid-gap: 20px;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(2, 150px);
        grid-auto-rows: 150px;
    }
}
@media screen and (max-width: 850px){
    #contact > div:nth-child(2) > p, #contact > div:nth-child(2) > a {
        font-size: 25px;
    }
    h2{
        font-size: 40px;        
    }
    header > a:first-child > div > p {
        font-size: 18px;
    }
    #bio > p,#details {
        font-size: 1rem;
    }
}
@media screen and (max-width: 750px){
    #retrok7{
        grid-row: 1;
        grid-column: 1;
    }
    #reportageSCCUC{
        grid-row: 2;
        grid-column: 1;
    }
    #etc{
        display: none;
    }
    .grid{
        grid-template-columns: 350px;
        grid-template-rows: repeat(5, 350px);
    }
    .card > div, #retrok7 > div, #reportageSCCUC > div{
        font-size: 20px;
        padding: 10px;
    }
    #apercu video {
        width: 60vw;
    }
    #infos h3{
        font-size: 25px;        
    }
    #contact div:nth-child(2){
        flex-direction: column;
    }
    #a_propos{
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    #pdp > img{
        width: 80%;
    }
    #a_propos{
        height: auto;
    }
    #pdp{
        grid-row: 1;
    }
    #bio{
        justify-content: start;
        height: auto;
        padding-bottom: 50px;
        padding-top: 0px;
    }
    footer {
        gap: 15px;
        font-size: 12px;;
    }
}
@media screen and (max-width: 650px){
    #signature{
        display: none;
    }
    #infos h3 {
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    #infos > div {
        width: 90vw;
        padding: 20px;
    }
    #apercu video {
        width: 70vw;
    }
    #infos .leave_btn {
        font-size: 35px;
        top: 10px;
        right: 10px;
    }
    #bio > p, #details {
        font-size: 0.90rem;
    }
    #contact > div:nth-child(2) > p, #contact > div:nth-child(2) > a {
        font-size: 20px;
    }
    #contact > div:nth-child(2) {
        gap: 20px;
        padding-top: 30px;
    }
    #realisations > h2, #contact > h2 {
        position:unset;
        padding-top: 30px;
    }
    #contact{
        text-align: center;
    }
    footer{
        flex-direction: column;
    }
    #realisations > h2{
        font-size: 38px;
    }
    .grid{
        padding-top: 30px;
        grid-template-columns: 300px;
        grid-template-rows: repeat(5, 300px);
    }
    #bio > p {
        padding-right: 0px;
    }
    #cv_btn > a {
        font-size: 20px;
    }
    header > a:first-child > div > p {
        display: none;
    }
    #retrok7 > div, #reportageSCCUC > div, #videoCV > div, #courtmetrageS1 > div, #pub_cineambulant > div{
        display: block;
    }
    header > a:first-child {
        width: min-content;
    }
    #stage2{
        display: flex;
        font-weight: 600;
    }
    p{
        hyphens: none;
    }
    header > a:first-child > img{   
        animation: stage_sablier 1s 6 3s;
        animation-timing-function: ease-in-out;
    }
    @keyframes stage_sablier {
        100%{
            rotate: 360deg;
            scale: 1.1;
        }
    }
    #call_to_action_scroll{
        animation: scroll 1.5s 8 alternate-reverse 10s;
        animation-timing-function: ease-in-out;
    }
    @keyframes scroll {
        0%{
            top: 85%;
        }
        100%{
            top: 90%
        }
    }
    #fond_mobile{
        display: flex;
        width: 100vw;
    }
    #home {
        display: flex;
    }
    header {
        padding: 25px 30px 25px 50px;
    }
}